@import url(https://fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Helvetica);

* { margin: 0; padding: 0; }

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.nopadding {
    padding: 0;
}

body {
    background: 0;
    font-family: 'Roboto', sans-serif;
}

/*header*/

.top-wrapper {
    background: #4a4a4a;
    border-top: 4px solid #ff6f4a;
    padding: 3px 0;
}

ul {
    list-style-type: none;
    margin-bottom: -10px;
}

ul li {
    display: inline-block;
}
.navbar-nav {
    margin: 7.5px -15px;
}

.fb {
    background: #3949ab;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.navbar-left .fa::before {
    color: #fff;
    font-size: 20px;
    vertical-align: middle;
    vertical-align: -moz-middle-with-baseline;
    vertical-align: -webkit-baseline-middle;
}

body > header > div > div > div > div > ul > li > a > i.fa{
    padding-top: 5px;
}

.yt {
    background: #d84315;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.fa-youtube:before {
    content: "\f167";
}

li a {
    padding: 0;
    position: relative;
    text-align: center;
    margin-right: 5px;
}

.bgfl {
    margin-left: -5px;
}

.caret {
    color: #85837c;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin: 0;
    padding: 0;
}

.nav-white{
    background-color: #fff;
    border: 0;
}

/*main*/

/*.main-nav-wrapper {
    background-color: #fff;
    border-bottom: 2px solid #e7e7e7;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}*/

.main-nav-wrapper{
    background: #ffffff;
    min-height: auto;
    border-radius: 0;
    margin: 0;
}
.main-nav-wrapper .container{
    padding:0;
}
.navbar-header{
    padding-top:5px;
}
.navbar-header .navbar-brand{
    display:block;
    height:auto;
    line-height:initial;
    width: 210px;
    padding-left:0;
    padding-top: 6px;
}
.navbar-header .navbar-brand img{
    width: 100%;
}
.main-nav-wrapper .navbar-nav>li{
    padding: 0 0 0 20px;
    z-index:10;
}
.main-nav-wrapper .navbar-nav>li>a{
    color: #6a6a6a;
    font-size: 14px;
    top: 35px;
}
.main-nav-wrapper .navbar-nav>li>a span{
    margin: 35px auto -7px;
    display: block;
    width: 0;
    height:4px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.main-nav-wrapper .navbar-nav>li.active span,
.main-nav-wrapper .navbar-nav>li a:hover span
{
    width:100%;
    background: #f77251;
}
.main-nav-wrapper .navbar-nav>li>a:hover,
.main-nav-wrapper .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
    background: transparent;
    color: #262626;
}

body > main > div > div > ol.breadcrumb {
    background-color: transparent;
    padding: 20px 20px 20px 10px;
}

.home {
    background-image: url("images/home_icon.png");
    background-repeat: no-repeat;
    padding: 15px 17px;
}

.breadcrumb li:nth-child(2) {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #666;
}

body > main > div:nth-child(2) > div > div.col-sm-5 > a > img {
    padding-left: 5px;
}

.news-list img{
    width: 100%;
}

.news-list h1 {
    font-size: 28px;
    line-height: 38px;
    color: #ff6f4a;
    font-weight: bold;
    margin: 0;
    overflow: hidden;
}

body > main > div > div:nth-child(2) > div > div > div > p {
    font-size: 15px;
    color: #ff6f4a;
    margin: 20px 0;
    font-weight: 500;
}

.page-text > p{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.more {
    color: #ff6f4a;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    float: right;
}

.more:hover, .more:active, .more:visited, .more:focus {
    color: #ff6f4a;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

  .category > h2, .archive > h2, .tags > h2 {
    font-size: 30px;
    color: #666;
    font-weight: bold;
    text-transform: uppercase;
}

.category > h2 {
    margin: 0 0 20px 0;
}

.category, .archive {
    border-bottom: 2px solid #dedddd;
    padding-bottom: 40px;
}

.archive > h2, .tags > h2 {
    margin: 30px 0;
}

.category ul li, .archive ul li {
    display: block;
    margin: 25px 0;
}

.category ul li a, .archive > ul > li:nth-child(2) a, .archive > ul > li:nth-child(3) a {
    margin: 25px 0 25px 20px;
}

.category > ul > li > a::before {
    content: url("images/left-arrow.png");
    width: 12px;
    height: 11px;
    display: inline-block;
    margin-left: -6%;
    margin-right: 4%;
}

.archive > ul > li > a::before {
    content: url("images/left-arrow.png");
    width: 6px;
    height: 11px;
    display: inline-block;
    margin-left: -6%;
    margin-right: 5%;
}

 .archive > ul > li > .down::before {
    content: url("images/down-arrow.png");
    width: 12px;
    height: 11px;
    display: inline-block;
    margin-left: -5%;
    margin-right: 5%;
}

.archive > ul > li > .collapsed.down::before {
   content: url("images/left-arrow.png");
   width: 12px;
   height: 11px;
   display: inline-block;
   margin-left: -3%;
   margin-right: 4%;

}

body > main > div > div:nth-child(2) > div.col-md-3.col-sm-4.sidebar > div.archive > ul > li:nth-child(1) > a {
    margin-left: 10px;
}

.category ul li a, .archive ul li a:hover, .category ul li a, .archive ul li a:focus {
    text-decoration: none;
}

.category ul li a, .archive ul li a, .tags ul li a {
    color: #333;
    font-size: 16px;
}

.archive > ul li> ul > li > a {
    left: 15%;
}

.tags a {
    text-decoration: none;
}

.tags a:nth-child(8) span, .tags a:nth-child(13) span{
    font-size: 14px;
    color: #666;
}

.tags a:nth-child(2) span, .tags a:nth-child(13) span, .tags a:nth-child(34) span, .tags a:nth-child(37) span {
    font-size: 16px;
    color: #666;
}

.tags a:nth-child(3) span, .tags a:nth-child(5) span, .tags a:nth-child(7) span, .tags a:nth-child(15) span, .tags a:nth-child(17) span, .tags a:nth-child(19) span, .tags a:nth-child(21) span, .tags a:nth-child(26) span, .tags a:nth-child(29) span, .tags a:nth-child(32) span {
    font-size: 18px;
    color: #666;
}

.tags a:nth-child(9) span, .tags a:nth-child(11) span {
    font-size: 18px;
    color: #ff6f4a;
}

#demo li {
    font-size: 16px;
    color: #333;
}

#demo li::before {
    background-image: none;
    margin: 0 0 0 45px;
}

.previous {
    background-image: url("images/previous.png");
    background-repeat: no-repeat;
    padding: 10px 60px;
    margin-left: 20px;
}

.next {
    background-image: url("images/next.png");
    background-repeat: no-repeat;
    padding: 17px 60px;
    float: right;
    margin-top: -7px;
    margin-left: 5px;
}

body > main > div > div:nth-child(2) > div.row > div > div > a.previous

.pagination > a:nth-child(2), a:nth-child(3), a:nth-child(4), a:nth-child(5), a:nth-child(6), a:nth-child(7), a:nth-child(8), a:nth-child(9) {
    color: #666;
    border-right: 1px solid #dedddd;
    padding: 10px;
}

a:nth-child(9) {
    border-right: 0;
}

body > main > div > div:nth-child(2) > div.row > div > div > a.active {
    color: #000;
}

.moremargin {
    margin-top: 40px;
}

footer {
    background-color: #4a4a4a;
    padding: 20px 0 15px 0;
}

.footer-menu h4 {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.footer-menu div:nth-child(1) ul li a {
    color: #a7a7a7;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding-left: 25px;
    text-decoration: none;
}

.footer-menu div:nth-child(3) > ul li, div:nth-child(4) > ul li {
     display: block;
}

.footer-menu div:nth-child(2) > ul li a, div:nth-child(3) > ul li a, div:nth-child(4) > ul li a {
    color: #a7a7a7;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.footer-menu > div:nth-child(1) > ul li {
    line-height: 40px;
}

.footer-menu > div:nth-child(2) > ul:nth-child(2) > li:nth-child(2) {
    text-transform: uppercase;
    line-height: 25px;
    display: block;
}

/*body > footer > div.container > div > div:nth-child(2) > ul > li:nth-child(2) > a*/

.footer-menu > div:nth-child(3) > ul li, .footer-menu > div:nth-child(4) > ul li {
    line-height: 30px;
}

footer .subscribe-wrapper {
    margin: 35px 0 0 0;
    padding: 60px 0 15px 0;
    border-top: 1px solid #757474;
}

footer .subs-title {
    float: left;
    background: #535353;
    color: #fff;
    line-height: 45px;
    text-transform: uppercase;
    width: 20%;
    text-align: center;
    font-size: 17px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

footer input {
    line-height: 45px;
    height: 45px!important;
    background: #aaaaaa!important;
    border-radius: 0!important;
    border: 0!important;
}

footer .footer-menu .fa {
    position: absolute;
    left: 15px;
    font-size: 15px;
    padding-top: 12px;
    color: #aaa;
}

footer input.submit {
    background: #ff6f4a!important;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #f1f1f1;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    font-weight: bold;
    padding: 0 20px;
}

footer h5 {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

input.form-control::-webkit-input-placeholder {
    color: #fff;
}

input.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
input.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
input.form-control:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

/*Mobile version*/
@media only screen and (max-width: 992px) {
    .nopadding {
        padding-left: 15px;
        padding-right: 15px;
    }
    .more {
        padding-bottom: 20px;
    }
    .previous {
        margin-left: 7px;
    }
    .next {
        margin-left: 0;
    }
    body > main > div > div:nth-child(2) > div.row > div > div > a.previous
    .pagination > a:nth-child(2), a:nth-child(3), a:nth-child(4), a:nth-child(5), a:nth-child(6), a:nth-child(7), a:nth-child(8), a:nth-child(9) {
        color: #666;
        border-right: 1px solid #dedddd;
        padding: 2px;
    }
    .footer-menu h4 {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    footer .subscribe-wrapper {
        padding: 20px 0 15px 0; 
    }
    .subscribe-min {
        margin-top: 20px;
    }
    footer .subs-title {
        width: 30%;
    }
}